<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782771026608-1iqh6s2cinlsfiqriuf34abtqv8qrdao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782771026608-1iqh6s2cinlsfiqriuf34abtqv8qrdao</string>
	<key>API_KEY</key>
	<string>AIzaSyCnKjzZAo1JtWktT9DJpORS1Iaeg3tKh6k</string>
	<key>GCM_SENDER_ID</key>
	<string>782771026608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alicankayaaslan.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-78a95</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-78a95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782771026608:ios:b878c5be9c06161a399975</string>
</dict>
</plist>